<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">

    <form th:action="@{/signup}" method="POST">
        account : <input type="text" name="account"> <br>
        password : <input type="password" name="password"> <br>
        name : <input type="text" name="name"> <br>
        email : <input type="text" name="email"> <br>
        <input type="radio" name="auth" value="ROLE_ADMIN" checked="checked"> admin
        <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
        <button type="submit">Join</button>
    </form> <br>

    <a href="/signIn">Sign In</a>

</div>

</body>
</html>